@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

@font-face {
  font-family: "Marvel";
  src: url("./marvel.ttf");
  font-display: swap;
}

:root {
  --red: #e23636;
  --secondary-red: #b42626;
  --black: #111111;
  --gray: #504a4a;
  --skyblue: #518cca;
  --orange: #f78f3f;
  --white: #f8f8f8;
  --lightgray: #d6d6d6;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.marvel-font {
  font-family: "Marvel", cursive;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white);
}

/* **********     Header     ********** */
.header {
  background-color: var(--black);
  position: sticky;
  top: -0.5rem;
  z-index: 99;
}

.header-container {
  display: flex;
  padding: 1rem 1.5rem;
  padding-top: 1.5rem;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.logo a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--white);
  padding: 0.5rem 0.5rem 0.1rem;
  background-color: var(--red);
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.options a[href*="html"] {
  text-decoration: none;
  transition: transform 0.5s ease, color 0.5s ease;
  color: var(--lightgray);
  position: relative;
}

.theme-btn {
  text-decoration: none;
  transition: transform 0.5s ease;
}

.theme-btn:hover {
  transform: scale(1.5);
}

.options a[href*="html"]:hover {
  transform: translateY(0.1rem);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: var(--red);
}

.theme-btn {
  font-size: 1.5rem;
  margin-top: -0.25rem;
}

.animation-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.1rem;
  background-color: var(--red);
  transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}

.animation-bottom:hover::after {
  width: 100%;
}

.to-center::after {
  left: 50%;
}

.to-center:hover::after {
  left: 0;
}

/* **********     Title     ********** */
.title-container {
  background-color: var(--red);
  padding: 1rem 1.5rem;
}

.title-container h1 {
  text-align: center;
  margin: 0 auto;
  color: var(--white);
  max-width: 1200px;
}

/* **********     Words     ********** */
.words {
  padding: 1rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.words a {
  max-width: 1200px;
  color: var(--black);
  display: inline-block;
  padding: 0.5rem 0.5rem;
  transition: color 0.5s ease, transform 0.5s ease;
  text-decoration: none;
}
.words a:first-child {
  padding-left: 0;
}
.words a:last-child {
  padding-right: 0;
}

.words a:hover {
  color: var(--red);
  transform: scale(1.5);
}

.separator {
  max-width: 1200px;
  color: var(--lightgray);
}

/* **********     Character container     ********** */
.cards-container {
  max-width: 1200px;
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem 1.5rem;
  align-items: flex-start;
}
.cards-container a {
  text-decoration: none;
}

.card {
  background-color: var(--black);
  border-radius: 5%;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.card img {
  border-radius: 5% 5% 0 0;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
  object-position: center;
}

.card p {
  text-align: center;
  margin: 0;
  padding: 0.2rem 0.2rem 0.5rem;
  color: var(--white);
  font-size: small;
  font-weight: 300;
}

.card:hover {
  transform: translateY(0.5rem);
  background-color: var(--secondary-red);
}

.card:hover img {
  transform: scale(1.1) translateY(-0.6rem);
  filter: brightness(1.2);
}

/* **********     Search     ********** */

.hero-container {
  flex-grow: 1;
  display: flex;
}
.hero-image {
  background-image: url("./marvel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.hero-background {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  transition: backdrop-filter 0.5s ease;
}

.input-box:hover + div {
  backdrop-filter: blur(0.2rem);
}

.input-box {
  z-index: 3;
  width: 50vw;
  position: relative;
}

.input-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-box * {
  cursor: pointer;
}

.input-box {
  margin-top: -9rem;
  transition: width 0.1s ease;
}

.input-box input[type="search"] {
  width: 100%;
  padding: 0.7rem 0.7rem 0.7rem 3.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--white);
  color: var(--gray);
}

.input-box input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--lightgray);
}

.input-box input:hover {
  box-shadow: 0 0 1px 1px var(--lightgray);
}

.input-box button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem 0 0 1rem;
  height: 100%;
  width: 3rem;
  border: none;
  background-color: var(--lightgray);
  transition: background-color 0.5s ease, outline 0.5s ease;
}

.input-box button:hover {
  background-color: var(--gray);
  outline: 1px solid var(--gray);
}
.overflow-hidden {
  overflow: hidden;
}

.search-results {
  position: absolute;
  top: 105%;
  left: 0;
  text-align: center;
  background-color: var(--white);
  width: 100%;
  border-radius: 0.5rem;
  height: 35vh;
  overflow: hidden;
}

.scroll {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  background-color: var(--gray);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #e3dbdb;
  /* border-radius: 5px; */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.scroll::-webkit-scrollbar-track {
  border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 6px rgba(68, 68, 68, 0.3);
}

.search-results a {
  align-self: center;
  justify-self: center;
  text-align: center;
  height: auto;
  width: 100%;
  color: var(--gray);
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px solid #d6d6d6d9;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.5s ease;
}
.search-results a:hover {
  background-color: var(--lightgray);
}

.none {
  display: none;
}

/* **********     Character detail     ********** */
.character-container {
  max-width: 1200px;
  margin: 0 auto;
}
.character-content {
  display: flex;
  padding: 3rem 2rem;
  gap: 3rem;
  color: var(--black);
}
.character-content > * {
  width: 50%;
}
.character-content > img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}
.character-detail {
  align-self: center;
  margin-top: -10%;
}
.character-data-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.pill {
  font-size: 0.6rem;
  border-radius: 1rem;
  overflow: hidden;
}
.pill > * {
  padding: 0.3rem 0.8rem 0.2rem;
  display: inline-block;
}
.pill:nth-child(odd) .title-pill {
  background-color: var(--skyblue);
}
.pill:nth-child(even) .title-pill {
  background-color: var(--orange);
}
.content-pill {
  background-color: var(--lightgray);
}
.character-description {
  font-weight: 300;
  margin-top: 1.5rem;
  text-align: justify;
}
.character-comics {
  color: var(--skyblue);
  margin-top: 2rem;
  display: inline-block;
  transition: color 0.5s ease;
}
.character-comics:hover {
  color: var(--red);
}

/* **********     Media Queries     ********** */
@media screen and (max-width: 1024px) {
  .character-content {
    gap: 2rem;
  }
  .input-box {
    width: 60vw;
  }
}
@media screen and (max-width: 900px) {
  .character-detail {
    margin-top: 0;
  }
  .input-box {
    width: 70vw;
  }
}
@media screen and (max-width: 720px) {
  .character-content {
    gap: 1.5rem;
  }
  .input-box {
    width: 80vw;
  }
}
@media screen and (max-width: 560px) {
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .logo {
    text-align: center;
  }
  .options a[href*="html"]:hover {
    padding-bottom: 1px;
    padding-top: 0;
  }
  .character-content {
    padding: 2rem 1.5rem;
    gap: 1rem;
  }
  .character-content > * {
    width: 100%;
  }
  .character-content > img {
    align-self: center;
  }
  .character-content {
    flex-direction: column;
  }
}
